<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/vanilla.js"></script>

<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>DomainName</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>